# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Backend
DATABASE_URL=
JWT_SECRET=
PASSWORD_SECRET=
AI_OPENROUTER_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=
EMAIL_SECRET=
EMAIL_FROM=
EMAIL_TO=
VITE_SECRET_RECAPTCHA=